
<div class="input_box">
    <div class="inputs">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input type="text" matInput [(ngModel)]="_commonService.formGrp.Name">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Designation</mat-label>
            <mat-select [(ngModel)]="_commonService.formGrp.Designation">
                <mat-option [value]="option" *ngFor="let option of Designations">{{ option }}</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Salary</mat-label>
            <input type="number" matInput [(ngModel)]="_commonService.formGrp.Salary">
        </mat-form-field>
    </div>
    <div class="btn_box">
        <button mat-button (click)="resetForm()" class="reset_btn">Reset</button>
        <button *ngIf="_commonService.Mode == 'Create'" mat-button (click)="SaveData()" class="save_btn">Save</button>
        <button *ngIf="_commonService.Mode == 'Update'" mat-button (click)="UpdateData()"class="save_btn">Update</button>

    </div>
</div>